body {
  background-color: black;
}
.note {
  color: #5DADE2;
  font-family: Arial;
  height: calc(100vh - 16px);
  width: calc(100vw - 16px);
}
.note:focus,
.note:active {
  outline: 0px solid transparent;
}