body {
  background-color: #161616b4;
  overflow: hidden;
}

.header-bar {
  display: flex;
  justify-content: center;
  height: 20px;
  margin-top: -5px;
  -webkit-app-region: drag;
}

.note-button {
  width: 18px;
  height: 18px;
}

.note-button-selected:before {
  font-weight: 400;
  content: '\f0c8';
}

.note {
  font-family: Arial;
  height: calc(100vh - 36px);
  width: calc(100vw - 16px);
  display: none;
  overflow: auto;
}

.note:focus,
.note:active {
  outline: 0px solid transparent;
}

.ontop-button {
  position: absolute;
  top: 3px;
  right: 4px;
  color: #bebebe2d;
}

.ontop-button:hover {
  color: #d6d6d6;
}

.ontop-locked:before {
  content: '\f023';
}

.ontop-unlocked:before {
  content: '\f3c1';
}

.color-0 {
  color: #5dade2;
}

.color-1 {
  color: #58d673;
}

.color-2 {
  color: #f7ce5c;
}

.color-3 {
  color: #e77534;
}

.color-4 {
  color: #b64a46;
}

.color-5 {
  color: #9155ad;
}
