body {
  background-color: #1616169a;
  overflow: hidden;
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}

main {
  display: grid;
  grid-template-rows: 21px auto;
  position: fixed;
}

.header-bar {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  padding-top: 2px;
  z-index: 100;
  -webkit-app-region: drag;
}

.header-bar-max {
  background-color: #161616be;
  margin: auto;
  width: 300px;
  border-radius: 3px;
}

.control-button-host {
  grid-row: 1;
  display: flex;
  margin-top: 1px;
  -webkit-app-region: no-drag;
}

.right-control-host {
  grid-column: 3;
  justify-self: flex-end;
  margin-right: 4px;
}

.left-control-host {
  grid-column: 1;
  justify-self: flex-start;
  margin-left: 4px;
}

.note-button-host {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  padding-top: 1px;
}

.note-button {
  width: 18px;
  height: 18px;
}

.note-button-selected:before {
  font-weight: 400;
  content: '\f111';
}

.note-host {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3px 1fr;
  grid-gap: 0px;
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  margin-top: -21px;
  padding-top: 21px;
}

.note-entry:hover {
  cursor: text;
}

.note-entry:focus,
.note-entry:active
{
  outline: 1px solid #ffffff31;
  outline-offset: 3px;
}

.note,
.sketch {
  grid-column: 1;
  grid-row: 2;
  display: none;
  background-color: #00000000;
}

.note {
  font-family: Arial;
  font-size: 18px;
  z-index: 20;
}

.sketch {
  z-index: 15;
}

.note-entry-host {
  position: absolute;
  padding: 8px;
  border-width: 1px;
  border-style: dotted;
  border-color: #00000000;
  border-radius: 5px;
  outline: 1px solid #00000000;
}

.note-entry-host:hover {
  border-color: #ffffff91;
  cursor: move;
}

.sketch-tool,
.trans-button,
.sketch-button,
.ontop-button {
  color: #bebebe2d;
}

.trans-button,
.ontop-button {
  margin-left: 4px;
}

.sketch-mode {
  color: #e0e0e0;
}

.sketch-tool:hover, 
.trans-button:hover,
.sketch-button:hover,
.ontop-button:hover {
  color: #d6d6d6;
}

.ontop-locked:before {
  content: '\f023';
}

.ontop-unlocked:before {
  content: '\f3c1';
}

.trans-on:before {
  font-weight: 900;
  content: '\f0c8';
}

.trans-off:before {
  content: '\f0c8';
}

.color-0 {
  color: #5dade2;
}

.color-1 {
  color: #58d673;
}

.color-2 {
  color: #f7ce5c;
}

.color-3 {
  color: #e77534;
}

.color-4 {
  color: #b64a46;
}

.color-5 {
  color: #9155ad;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  font-family: Arial;
  font-weight: 600;
  font-size: 16px;
  width: auto;
  height: fit-content;
  background-color: #161616;
  color: #e0e0e0;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  bottom: 100%;
  top: 100%;
  opacity: 0;
  transition: opacity 1.5s;
  transition-timing-function: step-end;
  user-select: none;
}

.tooltiptext-left {
  left: 50%;
}

.tooltiptext-right {
  right: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.scroll-arrow {
  display: none;
  color: #8b8b8b;
}

.scroll-arrow-left {
  position: absolute;
  left: 5px;
  top: calc(50% - 10px);
}

.scroll-arrow-right {
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
}

.scroll-arrow-up {
  position: absolute;
  left: calc(50% - 10px);
  top: 15px;
}

.scroll-arrow-down {
  position: absolute;
  left: calc(50% - 10px);
  bottom: 20px;
}

.sketch-tool-panel {
  position: absolute;
  left: 0;
  top: 23px;
  height: calc(100% - 50px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  z-index: 1000;
}

.sketch-tool-host {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #161616be;
  border-radius: 0px 7px 7px 0px;
  padding: 2px;
}

.sketch-color-pick,
.sketch-tool {
  align-self: center;
  margin: 6px 2px;
}

.sketch-color-btn {
  width: 15px;
  color: #e0e0e0;
}

input[type=color] {
  border: none;
  padding: 0;
  width: 0px;
  height: 0px;
  visibility: hidden;
}
